* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.profileuser-container{
    padding: 1rem 3rem;
   
}

.profile-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;    
    margin: 1rem 0;
}
    
.user-img-and-email{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.userimg{
    width: 100%;    
    width: 11rem;     
    height: 10rem;
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #dbb42c;
}

.user-name-email{   
    display: grid;
    line-height: 40px;  
}

.user-name-email h1{
    font-size: clamp(2rem, 0.75rem + 4vw, 3rem);
}

.user-name-email .user-email{
    font-size: clamp(0.8rem, 0.425rem + 1.2vw, 1.1rem);
}

.user-content{
    display: flex;
    margin: 1rem 0;
}

.user-container-wrapper{
    display: grid ;
    gap: 0.5rem;
    width: 213px;
}   

.profile-select{
    cursor: pointer;
    padding: 0.8rem 0.8rem;
    font-size: clamp(0.7rem, -0.075rem + 2.8vw, 1.2rem);
    text-align: start;
    padding-left: 5px   ;
}

.profile-select:hover{
    color:#dbb42c;
}

.p{ 
    background-color: #dbb42c;
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px       ;
}

.p:hover{
    color: white    ;
}

/**/
.user-content-info{      
    padding: 0.8rem 1.5rem;
}

.content-labels{
    color: #dbb42c;
    font-size: 1.7rem;
}

.user-labels{
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}
.user-labes-cotent{
    font-weight: 500;
}
/*End*/

/*Dropdown for mobile view*/
.dropdown-profile{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dropbtn{
    padding: 0.3rem 2rem;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    justify-content: space-between  ;
    cursor: pointer;
    text-decoration: underline;
    background-color:  rgb(214, 212, 212);
    border-radius: 10px;
    outline: none;
    border: 1px solid #dbb42c   ;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: #f9f9f9;
    height: 200px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition:0.3 ease-in-out ;
    border-radius: 10px;
    overflow-y: scroll;
}
  
.dropdown-content a{
    font-size: 1.2rem;
    font-weight: 650;
    color: black;
    padding: 10px 16px; 
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:active {background-color: grey;}

.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #2980B9;
}


.user-container{
    border: 2px solid #dbb42c;
    width: 100%;    
}

/*end*/

/*recent*/
.recent{    
    margin: 1rem 0rem;
    padding-left: 20px; 
    font-size: 1.8rem;  
    font-weight: 700;
    border-left:4px solid #dbb42c;
}

.item-recent img{
    width: 100%;
    max-width: 350px;   
    height: 250px;
    border-radius: 5px;
}
.item-recent img:hover{
    border: 0.3px solid #dbb42c;
}
.recent-wrap{
    padding: 1rem 3rem;
}
/*end*/
/*Preference CSS*/
.user-labels input{
    margin: 0 0.7rem;
    width: 100%;
    max-width: 170px;
    padding: 0.4rem 0.7rem;
    border-radius: 10px ;
    border: none;
    outline: none;
    color: black;
}
.user-labels input[type="text"]:disabled {
    background-color: rgb(197, 191, 191);
}
/*end*/

/*Email notification CSS*/
/*end*/

/*Change credential CSS*/
/*end*/

/*Oder history CSS*/
/*end*/

/*Paymeen methods CSS*/
/*end*/

/*Responsive*/
@media only screen and (max-width: 550px){
    .user-container-wrapper{
        display: none;
    }
    .user-container{    
        width: 100% ;
        border-radius: 10px;
        height: auto;
    }
    .user-content{
        flex-direction: column; 
    }

    .dropdown-profile{
        display: block;
    }
}   
/*end*/